{
    "plugins": [
        "stylelint-csstree-validator"
    ],
    "extends": "stylelint-config-standard",
    "rules": {
        "function-whitespace-after": null,
        "at-rule-no-unknown": null
    }
}
