.box-model-border {
  box-sizing: border-box;
}

.box-inline {
  display: inline-block;
}

.v-top {
  vertical-align: top;
}

.v-middle {
  vertical-align: middle;
}

.v-base {
  vertical-align: baseline;
}

.v-bottom {
  vertical-align: bottom;
}

.box-left {
  float: left;
}

.box-right {
  float: right;
}

.box-relative {
  position: relative;
}

.box-absolute {
  position: absolute;
}

@each $position in top, bottom, left, right {
  @for $step from var(--position-from) to var(--position-to) by var(--position-step) {
    .box-$(position)-$(step) {
      $(position): calc($(step))var(--position-ext);
    }
  }
}
