@for $step from var(--offset-from) to var(--offset-to) by var(--offset-step) {
  .offset-m-$(step) {
    margin: calc($(step) * (1var(--offset-ext)));
  }
  .offset-p-$(step) {
    padding: calc($(step) * (1var(--offset-ext)));
  }
}

@each $position in v, h {
  @for $step from var(--offset-from) to var(--offset-to) by var(--offset-step) {
    .offset-m$(position)-$(step) {
      @if ($position == 'v') {
        margin-left: calc($(step) * (1var(--offset-ext)));
        margin-right: calc($(step) * (1var(--offset-ext)));
      }

      @if ($position == 'h') {
        margin-top: calc($(step) * (1var(--offset-ext)));
        margin-bottom: calc($(step) * (1var(--offset-ext)));
      }
    }

    .offset-p$(position)-$(step) {
      @if ($position == 'v') {
        padding-left: calc($(step) * (1var(--offset-ext)));
        padding-right: calc($(step) * (1var(--offset-ext)));
      }

      @if ($position == 'h') {
        padding-top: calc($(step) * (1var(--offset-ext)));
        padding-bottom: calc($(step) * (1var(--offset-ext)));
      }
    }
  }
}

@each $position in t, b, l, r {
  @for $step from var(--offset-from) to var(--offset-to) by var(--offset-step) {
    .offset-m$(position)-$(step) {
      margin-$(position): calc($(step) * (1var(--offset-ext)));
    }
    .offset-p$(position)-$(step) {
      padding-$(position): calc($(step) * (1var(--offset-ext)));
    }
  }
}
