<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Slim-grid
	link(rel='stylesheet', href='css/slim-grid.css')
body
	- var colCount = 1
	.sl-container-col
		while colCount < 13
			div(class="sl-col-1")= colCount++