@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,400italic,300italic,300,500,500italic,700,700italic);
html, body { margin: 0; padding: 0; border: 0;}
body {color: #212121; font: 100% "Robot Mono", sans-serif;}
a {color: #607d8b;text-decoration: none;}
h1, h2 {margin: 0;padding: 0;}
h1 {font-size: 36px;}
h2 {font-size: 28px;}
h1, h2 { text-transform: capitalize; }
.demo-content { box-sizing: border-box;}
.highlight {border: 1px solid #bdbdbd;padding: 20px;background-color: #eeeeee;}