@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,400italic,300italic,300,500,500italic,700,700italic);
* {height: inherit;}
html, body { margin: 0; padding: 0; border: 0;}
body {color: #212121; font: 100% "Robot Mono", sans-serif;}
a {color: #607d8b;text-decoration: none;}
h1, h2, p {margin: 0;padding: 0;}
h1 {font-size: 36px;}
h2 {font-size: 28px;}
h1, h2 { text-transform: capitalize; }
.highlight {border: 1px solid #bdbdbd;padding: 20px;background-color: #eeeeee;margin-bottom: 20px;}
.demo-brand { font-size: 28px; line-height: 1; }
.demo-space {margin-bottom: 20px;}
.demo-nav {
	background-color:  teal;
	padding: 0 10px;
}
.demo-pull-right { float: right; }
.demo-nav a {
	color: #fff;
	display: table-cell;
	vertical-align: middle;
	padding: 10px 20px;
}
.demo-nav a:hover {
	background-color: rgba(255,255,255, .2);
}
.demo-col [class*="sl-col"],
.demo-row [class*="sl-row"] {
	background-color: #cfd8dc;
	border: 1px solid #90a4ae;
}
.demo	{
	background-color: turquoise;
	height: 100%;
}
.demo-container {
	background-color: cadetblue;
	clear: both;
}